@model InternshipManagementSystem.Models.UserModel

@{
    ViewBag.Title = "AnnouncementFormView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Assign Supervisor Form</h2>
<div class="container" ">
    <div class="col-lg-12 well">
        <div class="row">
            @using (Html.BeginForm("AssignSupervisor", "FacultyCoordinatorModule", FormMethod.Post, new { }))
            {
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4 form-group" style="text-align:right; text-align:right; width:550px;">
                            Student Name :
                        </div>
                        <div class="col-sm-8 form-group" style="text-align:left; width:350px;">
                            <label>@ViewBag.Student</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group" style="text-align:right; width:550px; ">
                            Faculty Supervisor :
                        </div>
                        <div class="col-sm-8 form-group" style="text-align:left; width:350px;">
                            @Html.DropDownListFor(model => model.FacultySupervisorName, new SelectList(Model.Supervisorlist, "FullName", "FullName"), "- -Select- -")
                            <br />
                            <br />
                            <br />
                            <br /><br /><br />
                        </div>

                    </div>
                    <div class="row" style="text-align:center;">
                        @Html.HiddenFor(model => (model.FullName))
                        <button style="margin-top: 20px;" type="submit" class="btn btn-lg btn-info">Assign Supervisor</button>
                    </div>
                </div>

            }
        </div>
    </div>
</div>

